<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Film News</title>
    <link rel="icon" type="image/png" href="https://chudep.com.vn/wp-content/uploads/2016/07/cropped-favicon-chu-dep1.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .navbar {
            margin-bottom: 50px;
            border-radius: 0;
        }

        .jumbotron {
            margin-bottom: 0;
        }

        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }

        .menu {
            height: 50px;
        }

        .menu li:hover .submenu {
            display: block;
        }

        .submenu {
            display: none;
            clear: both;
            width: 200px;
            z-index: 999999;
            background-color: #101010;
        }

        .submenu li {
            list-style: none;

        }

        .submenu li a {
            text-decoration: none;
            color: #9d9d9d;
            display: block;
            border-top: 1px solid #ccc;
            line-height: 40px;
        }

        .pathway {
            font-size: 20px;
        }

        .fa1 {
            text-align: center;
            font-weight: bold;
            font-size: 17px;
        }

        #procontent {
            font-size: 17px;
            color: #981619;
        }
    </style>
</head>

<body>
    <!-- Name Website -->
    <div class="jumbotron">
        <div class="container text-center">
            <h1>Film News</h1>
        </div>
    </div>

    <!-- Menu  -->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li class=""><a href="#">About</a></li>
                    <li class=""><a href="#">Contact</a></li>
                    <li class=""><a href="/">News</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right menu">
                    <li><a href="#"><span class="glyphicon glyphicon-search"></span> Search</a></li>
                    <li><a href="/add-products"><span class="glyphicon glyphicon-user"></span> Admin</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Products -->
    <div class="container">
        <div class="row">
            <!-- Loop through quotes -->
            <% for(var i=0; i < quotes.length; i++) {%>
                <div class="col-sm-4 quotes">
                    <!-- Output name from the iterated quote object -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <label for="">Name:</label>
                            <%= quotes[i].name %>
                        </div>
                        <div class="fa1"><a href="> ">
                                <label for="">Director:</label>
                                <%= quotes[i].director %>
                            </a></div>
                        <div class="fa1"><a href="#">
                                <label for="">Country:</label>
                                <%= quotes[i].country %>
                            </a></div>
                        <div class="fa1"><a href="> ">
                                <label for="">Type:</label>
                                <%= quotes[i].type %>
                            </a></div>
                        <div class="fa1"><a href="> ">
                                <label for="">Year:</label>
                                <%= quotes[i].year %>
                            </a></div>
                        <div class="panel-footer" id="procontent">
                            <label for="">Detail:</label>
                            <%= quotes[i].detail %>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
    </div>

    <!-- Footer  -->
    <footer class="container-fluid text-center">
        <h4>Đặng Phúc Minh</h4>
        <p>ID: GCS190076</p>
        <form class="form-inline">
            Get deals:
            <input type="email" class="form-control" size="50" placeholder="Email Address">
            <button type="button" class="btn btn-danger">Subscribe</button>
        </form>
        <br>
        <p>Copyright © 2022 Film News</p>
    </footer>

</body>

</html>